# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
**/DerivedData/
.idea/
.vscode/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
# Misc
*.iml
*.log
*.lock
*.DS_Store
*.classpath
*.project
*.jks
.env
